<div class="col-sm-6">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Information about tournament</h3>
    </div>    
    <%= form_for @participant do |p| %>
      <% @participant.errors.full_messages.each do |message| %>
        <p class="error-message" style="padding: 2px; background-color: red; display: table;"><%= message %><p>
      <% end %>
    <!--Block Styled Form -->
    <!--===================================================-->
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Name</label>
              <%= p.text_field :name, :class => "form-control" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Place</label>
              <%= p.text_field :last_name, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Gender</label>
              <%= p.select(:gender, options_for_select(["Male", "Female"]), :prompt=>"Please select gender...")%>
            </div>
          </div><br>

          <div id="tournament_categories" style="float: left;">
            <h4 class="control-label">Categories</h4>
            <%= p.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
              <div class="row">
                <%= b.label(class: "check_box") do |object| %>
                  <div class="col-xs-4">
                  <%= b.check_box(class: "check_box") %>
                  </div>

                  <div class="col-xs-8">
                  <%= b.object.name %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <%= p.submit :class => "btn btn-info" %>
      </div>
      <% end %>
    <!--===================================================-->
    <!--End Block Styled Form -->

  </div>
</div>