<div id="page-title">
  <h1 class="page-header text-overflow"><strong>Participants</strong></h1>

  <!--Searchbox-->
  <div class="searchbox">
    <div class="input-group custom-search-form">
      <%= link_to 'Add participant', new_participant_path, :class => "btn btn-info" %>
      <span class="input-group-btn">
        <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->



<div class="col-sm-8">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <!-- Striped Table -->
    <!--===================================================-->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Categories</th>
            </tr>
          </thead>
          <tbody>
            <% @participants.each do |participant| %>
            <tr>
              <td><%= participant.name %></td>
              <td><%= participant.last_name %></td>
              <td><%= participant.gender %></td>
              <% participant.categories.each do |category| %>
                <td><%= link_to category.name, edit_category_path(category.id) %></td>
              <% end %>
              <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
              <td><%= link_to 'Delete', participant, method: :delete, data: { confirm: '¿Are you sure?'} %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!--===================================================-->
    <!-- End Striped Table -->
  </div>
</div>
