<div id="page-title">
  <h1 class="page-header text-overflow">Judges</h1>
  <div class="searchbox">
    <div class="input-group custom-search-form">
      <% if can? :create, @user %>
        <%= link_to 'Add Judge', new_user_path, :class => "btn btn-primary", :style => "float: right;" %>
      <% end %>
      <span class="input-group-btn">
        <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-warning", :style => "border-radius: 4px;" if can? :update, user  %> -
                  <%= link_to 'Delete', user, method: :delete, data: { confirm: '¿Are you sure?'}, :class => "btn btn-danger", :style => "border-radius: 4px;" if can? :destroy, user %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
