<div class="col-sm-6">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Information about tournament</h3>
    </div>
    
    <%= form_for(@tournament) do |t| %>
      <% @tournament.errors.full_messages.each do |message| %>
        <p class="error-message" style="padding: 2px; background-color: red; display: table;"><%= message %><p>
      <% end %>
    <!--Block Styled Form -->
    <!--===================================================-->
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Name</label>
              <%= t.text_field :name, :class => "form-control" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Place</label>
              <%= t.text_field :place, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Start Date</label>
              <%= t.date_field(:start_date, min: Date.today) %><br>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Final Date</label>
              <%= t.date_field(:final_date, min: Date.today) %><br>
            </div>
          </div>

          <div id="tournament_categories">
            <h3 class="control-label">Categories</h3>
            <%= t.fields_for :tournament_categories do |tc| %>
              <%= render 'tournament_category_fields', f: tc %>
            <% end %>
            <%= link_to_add_association 'Add', t, :tournament_categories %>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <%= t.submit :class => "btn btn-info" %>
      </div>
      <% end %>
    <!--===================================================-->
    <!--End Block Styled Form -->

  </div>
</div>

