<table>
  <tr>
    <th>Name<th>
    <th>Place</th>
    <th>Start Date</th>
    <th>Final Date</th>
    <th>Categories</th>
  </tr>

  <% @tournaments.each do |tournament| %>
    <tr>
      <td><%= tournament.name  %><td>
      <td><%= tournament.place %></td>
      <td><%= tournament.start_date %></td>
      <td><%= tournament.final_date %></td>
      <% tournament.categories.each do |category| %>
      <td><%= link_to category.name, edit_category_path(category.id) %></td>
      <% end %>
      <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
      <td><%= link_to 'Delete', tournament, method: :delete, data: { confirm: '¿Are you sure?'} %></td>
    </tr>
  <% end %>
      <%= link_to 'Create tournament', new_tournament_path %>
</table>