<table>
  <tr>
    <th>Name<th>
    <th>Place</th>
    <th>Start Date</th>
    <th>Final Date</th>
    <th>Category</th>
    <th>Participants for group</th>
  </tr>

  <% @tournaments.each do |tournament| %>
    <tr>
      <td><%= tournament.name  %><td>
      <td><%= tournament.place %></td>
      <td><%= tournament.start_date %></td>
      <td><%= tournament.final_date %></td>
      <% tournament.categories.each do |category| %>
        <td><%= category.name %></td>
      <% end %>
      <% tournament.tournament_categories.each do |participant| %>
        <td><%= participant.participants_per_group %></td>
      <% end %>
      <% if current_user && current_user.admin %>
      <td><%= link_to 'Edit', edit_tournament_path(tournament) %>
      <td><%= link_to 'Delete', tournament, method: :delete, data: { confirm: '¿Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>
    <% if current_user && current_user.admin %>
      <%= link_to 'Create tournament', new_tournament_path %>
    <% end %>  
</table>
