<table>
  <tr>
    <th>Name<th>
    <th>Place</th>
    <th>Start Date</th>
    <th>Final Date</th>
    <th colspan="4"></th>
  </tr>

  <% @tournaments.each do |t| %>
    <tr>
      <td><%= t.name  %><td>
      <td><%= t.place %></td>
      <td><%= t.start_date %></td>
      <td><%= t.final_date %></td>
      <td><%= link_to 'Delete', t, method: :delete, data: { confirm: '¿Are you sure?'} %></td>
    </tr>
    
  <% end %>
</table>