<div class="cls-content">
  <div class="cls-content-sm panel">
    <div class="panel-body">
      <p class="pad-btm text-center">Sign In to your account</p>
      <center>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class="input-group text-center">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group text-center">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
        </div>
        <%= f.submit "Log in", class: "btn btn-success btn-lg btn-clock" %>
      <% end %>
      </center>
    </div>
  </div>
</div>
